*{margin: 0;padding: 0;}
.breadcrumb-item + .breadcrumb-item::before{
				content: ">";
			}

.breadcrumb{
	margin: 0;
	padding: 0;
}
.font_small{
	color: #328dc9;
	font-size: 12px;
}
.font_small1{
	color: #010101;
	font-size: 12px;
}
.position-absolute{
	top: 4.125rem;
	left: 0.875rem; 
	background-color: rgba(0,0,0,.2);
	width: 30%;
	height: 50%;
}

.img2{
	width: 100%;
/* 	margin-top: 2.1875rem; */
}
.img3{
	width: 100%;
	margin-top: 2.1875rem;
	text-align: center;
}
@media (min-width:992px) {
	.position-absolute div:first-child{
		font-size: 1.125rem;
		color: #fff;
		margin-left: 7.5rem;
	}
	
	.position-absolute div:nth-child(2){
		font-size: 40px;
		font-weight: 700;
		color: #fff;
		margin-left: 7.5rem;
	}
	.position-absolute div:last-child{
		font-family: tahoma;
		font-size: 1.5rem;
		color: #fff;
		margin-left: 7.5rem;
	}
}
@media (min-width:756px) {
	.position-absolute div:first-child{
		font-size: 1.125rem;
		color: #fff;
		margin-left: 3.5rem;
	}
	
	.position-absolute div:nth-child(2){
		font-size: 40px;
		font-weight: 700;
		color: #fff;
		margin-left: 3.5rem;
	}
	.position-absolute div:last-child{
		font-family: tahoma;
		font-size: 1.5rem;
		color: #fff;
		margin-left: 3.5rem;
	}
}

@media (min-width:756px) {
	.position-absolute div:first-child{
		font-size: 14px;
		color: #fff;
		margin-left: 3.5rem;
	}
	
	.position-absolute div:nth-child(2){
		font-size: 20px;
		font-weight: 700;
		color: #fff;
		margin-left: 3.5rem;
	}
	.position-absolute div:last-child{
		font-family: tahoma;
		font-size: 20px;
		color: #fff;
		margin-left: 3.5rem;
	}
}
.p2{
	text-align: center;
	margin: 0.4375rem 0 1.5625rem;
}

.my_top{
	margin-bottom: 40px;
	 transition: all 3.6s;	
}

.my_top >a{
	transition: all 3.6s;
}

.my_top a{
	text-decoration: none;
}
.my_top:hover{
  /* transform: scale(1.1); */
}
.my_top  img{
	height: 270px;
	transition: all 3.6s;
}
.my_top img:hover{
	transform: scale(1.1);
}
.img4{
	/* text-align: center; */
	margin-left: 15px;
}
.img4 div:first-child{
	font-size: 16px;
	color: #fff;
	margin-top: -5rem;
}
.img4 div:nth-child(2){
	font-size: 12px;
	color: #fff;
	margin-top: 0.625rem;
}

.mt_5{
	margin-top: 1.8125rem;
	padding-bottom: 0.625rem;
}
.top2{
/* padding-left: 20px; */
border-bottom: 1px dotted #ccc;
 margin-top: 0.3125rem;
}
.top2 div{
	font-size: 12px;
	color: #8ea0ad;
	width: 5rem;
}
.top2  li a{
	text-decoration: none;
}

.top2  li:hover{
	background-color:rgba(0,0,0,0.1 );
}
@media (min-width:992px) {
.top2 li{
	margin: 0px 0.625rem;
	padding: 0 0.625rem;
	font-size: 12px;
	list-style: none;
	height: 1.25rem;
	text-decoration: none;
	}	
	.my_botton a{
		color: #1ba0f7;
		font-size: 14px;
		text-decoration: none;
	}
	.my_fone{
		color: #91a1b1;
		margin-top: 0.9375rem;
	}
}
@media (min-width:756px) {
.top2 li{
	margin: 0px 0.625rem;
	padding: 0 0.3125rem;
	font-size: 12px;
	list-style: none;
	height: 1.25rem;
	text-decoration: none;
	}	
	.my_botton a{
		color: #1ba0f7;
		font-size: 12px;
		text-decoration: none;
		padding-left: 1.625rem;
	}
	.my_fone{
		color: #91a1b1;
		margin-top: 0.9375rem;
		padding-left: 1.875rem;
	}
}




.top2 li a{
	color: #335788;
}


.my_fone p{
	margin-bottom: 0.625rem;
	font-size: 12px;
}
.my_fone .fei{
	font-size: 15px;
	margin-top: 4.0625rem;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}


.btn_1 div{
	color: #ff5639;
	font-family: tahoma;
	font-size: 24px;
	margin-bottom: 0.625rem;
}
.btn_1 a{
	color: #fff;
	border-radius: 0.1875rem;
	font-size: 14px;
	background-color: #63b8f0;
	border-color: #34a3ec;
	box-shadow: 0 2px 0 #34a3ec;
	text-align: center;
	text-decoration: none;
	padding: 0.625rem 1.25rem;
}
.top3{
	border-bottom: 0.0625rem dotted #ccc;
}


.mt_6{
	margin-top: 1.875rem;
}

.myleft a{
	text-decoration: none;
}


.my_botton{
   border-bottom: 0.0625rem dashed #00AEEF;
}

@media (min-width:576px) {
	.myleft{
		display: none;
	}
}
@media (min-width:992px) {
	.myleft{
		display: block;
	}
}
.my_bg1{
	background-image: url(../../img/zzy-destination-img/02/y1.jpg);
	height: 13.5rem;
	background-repeat: no-repeat;
}

.my_bg2{
	background-image: url(../../img/zzy-destination-img/02/y2.jpg);
	height: 13.5rem;
	background-repeat: no-repeat;
}
.my_bg3{
	background-image: url(../../img/zzy-destination-img/02/y3.jpg);
	height: 13.5rem;
	background-repeat: no-repeat;
}
.my_bg4{
	background-image: url(../../img/zzy-destination-img/02/y4.jpg);
	height: 13.5rem;
	background-repeat: no-repeat;
}
.my_bg5{
	background-image: url(../../img/zzy-destination-img/02/y5.jpg);
	height: 13.5rem;
	background-repeat: no-repeat;
}
.my_bg6{
	background-image: url(../../img/zzy-destination-img/02/y6.jpg);
	height: 13.5rem;
	background-repeat: no-repeat;
}

.bbb{
	height: 8.125rem;
	width: 90%;
	margin-left: 0.9375rem;
	margin-top: 1.25rem;
	padding-top: 3.75rem;
}
.bbb p:first-child{
	font-size: 26px;
	color: #fff;
	font-weight: 700;
}
.bbb p:nth-child(2){
	height: 0.0625rem;
	width: 100%;
	background-color: #fff;	
}
.bbb p:last-child{
	font-size: 12px;
	margin-top: 0.375rem;
	color: #fff;
	font-weight: 700;
}

.zhushou a{
	text-decoration: none;
}

.zhushou a img{
	margin-top: 1.25rem;
}


.bott{
	background-color: #dce4eb;
	color: #91a1b1;
	height: 2.25rem;
	line-height: 2.25rem;
	text-align: center;
	font-size: 12px;
	margin-top: 1.25rem;
	display: block;
	margin-bottom: 2.5rem;
}
.coop a{
	text-decoration: none;
}




.mb_0{
	padding-bottom: 16px;
}

.myli h3{
	color: #59738c;
	font-size: 12px;
	font-weight: bold;
	margin-top: 1rem;
}
.myli  li a{
	text-decoration: none;
	 color: #59738c;
}
.myli li{
	list-style: none;
	font-size: 12px;
	text-align: center;
	width: 5.5rem;
	height: 1.75rem;
	border: 0.0625rem solid #cdd3dd;
	line-height: 1.75rem;
	margin-right: 0.625rem;
	margin-top: 0.25rem;
}

.myli li:hover{
	background-color: #29a3f5;
	cursor: pointer;
}



#zzz1{
	display:none;
}